.input-text {
  @extend %input;

  padding: 15px 20px;

  border-radius: 5px;
  box-shadow: $shadow-primary;

  &::placeholder {
    color: $text-primary;

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size-5;
    }
  }
}