.portfolio {
  text-align: center;

  &__wrapper {
    @include flex();
    flex-wrap: wrap;
  }

  &__item {
    @include first-last() {
      width: 65.5%;
    }

    width: 31%;
    margin-bottom: 40px;

    overflow: hidden;
  }

  &__image {
    object-fit: cover;
    height: 250px;
  }
}