#promo {
  @include breakpoint($breakpoint-mobile-large) {
    .container {
      padding: 0;
    }
  }
}

.promo {
  margin-bottom: 60px;
  margin-top: 40px;

  @include breakpoint($breakpoint-mobile-large) {
    margin-top: 60px;
    margin-bottom: 10px;
  }

  &__offer {
    margin-top: 40px;

    @include breakpoint($breakpoint-mobile-large) {
      margin-top: 10px;

      padding: 0 10px;
    }

    &-pagination {
      padding-right: 15px;

      display: none;

      text-align: right;

      @include breakpoint($breakpoint-mobile-large) {
        display: block;
      }
    }
  }

  &__slider {
    &-left,
    &-right {
      @include breakpoint($breakpoint-mobile-large) {
        display: none;
      }
    }

    &-pagination {
      display: none;

      @include breakpoint($breakpoint-mobile-large) {
        display: block;
      }
    }
  }
}
