.work-scheme {
  &__wrapper {
    @include flex($align: flex-start);
    flex-wrap: wrap;
  }

  &__item {
    width: 47%;
    margin-bottom: 45px;

    @include last(2) {
      margin-bottom: 0;
    }
  }

  &__picture {
    position: relative;

    border-radius: 5px;
    overflow: hidden;
  }

  &__image {
    height: 140px;
    object-fit: cover;

    @include breakpoint($breakpoint-tablet) {
      height: 70px;
    }
  }

  &__step {
    position: absolute;
    bottom: 10px;
    left: 20px;

    color: $text-primary--inverted;
    font-size: $font-size-0;
    font-weight: $weight-bold;

    @include breakpoint($breakpoint-tablet) {
      top: 10px;
      bottom: unset;

      font-size: $font-size-2 + 6;
    }
  }

  &__title {
    margin-top: 10px;

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size-4;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size-5;
    }
  }
}
