.contact {
  &__wrapper {
    @include flex($align: stretch);
    flex-wrap: wrap;
  }

  &__picture {
    width: 55%;
    border-radius: 5px;
    overflow: hidden;

    @include breakpoint($breakpoint-mobile-large) {
      display: none;
    }
  }

  &__image {
    height: 242px;
    object-fit: cover;
  }
}
