.contact-card {
  width: 24%;

  padding: 15px;
  border-radius: 5px;

  background-color: $block-primary;
  box-shadow: $shadow-primary;

  font-size: $font-size-6;

  @include breakpoint($breakpoint-mobile-large) {
    width: 100%;
  }

  &:first-child {
    width: 44%;

    @include breakpoint($breakpoint-mobile-large) {
      width: 100%;
    }
  }

  &:not(:first-child) {
    margin-top: 15px;
  }

  &__title {
    height: 36px;

    margin-bottom: 10px;

    font-size: $font-size-5;
    font-weight: $weight-bold;
  }

  &__content {
    @include flex($align: flex-start);

    @include breakpoint($breakpoint-mobile-large) {
      flex-direction: column;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;

    min-height: 190px;

    @include breakpoint($breakpoint-mobile-large) {
      min-height: auto;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__text {
    max-width: 230px;
    margin-bottom: 20px;

    &--important {
    }
  }

  &__communication {
    margin-top: auto;
  }

  &__link {
    @include flex($align: flex-start);
    flex-direction: column;

    color: $link-primary;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
