.catalog-card {
  position: relative;

  background-color: #ffffff;

  margin-bottom: 40px;
  border-radius: 5px;

  transition: box-shadow 0.15s ease;

  @include breakpoint($breakpoint-laptop) {
    box-shadow: $shadow-primary;
  }

  @include breakpoint($breakpoint-mobile-large) {
    width: 100%;
  }

  &--shadow {
    box-shadow: $shadow-primary;
  }

  &:hover {
    box-shadow: $shadow-primary;

    .catalog-card__thumbnails {
      transform: translateY(0);
      margin-bottom: 0;
    }

    .catalog-card__button {
      visibility: visible;
      opacity: 1;
    }

    .catalog-card__image--scale {
      transform: scale(1.05);
    }
  }

  &__wrapper {
    padding: 15px;
  }

  &__picture {
    height: 160px;

    overflow: hidden;
    border-radius: 5px;

    @include breakpoint($breakpoint-mobile-large) {
      height: 250px;
    }

    &--thumbnail {
      height: 38px;

      &:not(:last-child) {
        margin-right: 5px;

        @include breakpoint($breakpoint-mobile-large) {
          margin-right: 10px;
        }
      }

      @include breakpoint($breakpoint-mobile-large) {
        height: 50px;
      }
    }
  }

  &__image {
    position: relative;
    z-index: 1;

    height: 100%;

    object-fit: cover;

    cursor: pointer;
    backface-visibility: hidden;

    &--scale {
      transition: transform 0.15s ease;
    }
  }

  &__thumbnails {
    @include flex();

    transform: translateY(-60px);
    margin-bottom: -60px;

    transition: all 0.15s ease;

    @include breakpoint($breakpoint-tablet) {
      transform: translateY(0);
      margin-bottom: 0;
    }
  }

  &__title {
    margin-top: 15px;
    margin-bottom: 15px;

    font-size: $font-size-5;

    &--bold {
      font-weight: $weight-bold;
    }
  }

  &__price {
    margin-top: 15px;
    font-size: $font-size-3;

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size-4;
      font-weight: $weight-medium;
    }
  }

  &__button {
    margin-top: 15px;

    visibility: hidden;
    opacity: 0;

    @include breakpoint($breakpoint-tablet) {
      visibility: visible;
      opacity: 1;
    }
  }
}
