.catalog-card {
  position: relative;
  
  background-color: #ffffff;

  margin-bottom: 40px;
  border-radius: 5px;

  transition: box-shadow 0.15s ease;

  &--shadow {
    box-shadow: $shadow-primary;
  }

  &:hover {
    box-shadow: $shadow-primary;

    .catalog-card__thumbnails {
      transform: translateY(0);
      margin-bottom: 0;
    }

    .catalog-card__button {
      visibility: visible;
      opacity: 1;
    }

    .catalog-card__image--scale {
      transform: scale(1.05);
    }
  }

  &__wrapper {
    padding: 15px;
  }

  &__picture {
    overflow: hidden;
    border-radius: 5px;

    backface-visibility: hidden;
  }

  &__image {
    position: relative;
    z-index: 1;

    height: 190px;

    object-fit: cover;

    cursor: pointer;

    &--thumbnail {
      max-width: 70px;
      height: 38px;
    }

    &--scale {
      transition: transform 0.15s ease;
    }
  }

  &__thumbnails {
    @include flex();

    transform: translateY(-60px);
    margin-bottom: -60px;

    transition: all 0.15s ease;
  }

  &__title {
    margin-top: 15px;
    margin-bottom: 15px;

    font-size: $font-size-5;

    &--bold {
      font-weight: $weight-bold;
    }
  }

  &__price {
    margin-top: 15px;
    font-size: $font-size-3;
  }

  &__button {
    margin-top: 15px;

    visibility: hidden;
    opacity: 0;
  }
}
