// -----------------------------------------------------------------------------
// В этом файле содержатся дополнительные или общие классы
// -----------------------------------------------------------------------------

.section {
  margin-top: 90px;

  &__title {
    @include flex();

    margin-bottom: 30px;

    &--secondary {
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    font-size: $font-size-4;
    margin-bottom: 40px;
  }
}

.container {
  width: 100%;
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
}

.gradient {
  display: inline-block;
  background-image: linear-gradient(
    75deg,
    rgba(34, 34, 35, 0.49) -1%,
    rgba(79, 79, 79, 0.283281) 65%,
    rgba(255, 255, 255, 0) 89.46%
  );

  &__image {
    position: relative;
    z-index: -1;
  }
}

.icon {
  display: inline-block;

  &--mini {
    width: 16px;
  }
}

.svg-wrapper {
  &--hover {
    path,
    rect {
      transition: all 0.15s ease;
    }

    &:hover {
      path,
      rect {
        fill: $svg-hover;
      }
    }
  }
}

.block-skewed {
  clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
}

.price {
  &::after {
    content: "₽";
    margin-left: 5px;
  }
}

.link {
  @include flex();

  transition: color 0.15s ease;

  &:hover {
    color: $link-hover;
  }

  &:hover {
    .link__item {
      color: $link-hover;
    }

    .link__item--arrow {
      transform: translateX(5px);
    }
  }

  &__item {
    color: $link-primary;
    font-size: $font-size-5;

    transition: color 0.15s ease;

    &--nav {
      color: $link-secondary;
    }

    &--small {
      font-size: $font-size-7;
    }

    &--arrow {
      margin-left: 5px;

      transition: transform 0.15s ease;
    }
  }
}

.stretched-link {
  &::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
