.promo-offer {
  position: relative;
  height: 205px;

  border-radius: 5px;
  overflow: hidden;

  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &__picture {
    position: absolute;

    width: 100%;
    height: 100%;
  }

  &__image {
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: relative;

    padding: 10px;
  }

  &__title {
    min-height: 54px;

    color: $text-primary--inverted;

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size-4;
    }
  }

  &__info {
    position: relative;

    @include flex();
  }
}
