.promo-discount {
  position: relative;

  &::after {
    content: url("../img/promo/discount-background.svg");
    position: absolute;
    z-index: -1;
    top: -7px;
    right: 0;
  }

  &__count {
    position: relative;

    font-size: $font-size-3;
    color: $text-primary--inverted;

    margin-right: 8px;

    &::before {
      content: "-";
    }

    &::after {
      content: "%";
    }
  }
}
