.article {
  &__wrapper {
    @include flex($align: stretch);

    padding: 10px 0;

    &--wrap {
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 100%;
    max-width: 260px;

    margin-bottom: 40px;

    border-radius: 5px;

    overflow: hidden;
    box-shadow: $shadow-primary;

    @include breakpoint($breakpoint-mobile-large) {
      max-width: unset;
    }

    &:not(:nth-child(4n)) {
      margin-right: 40px;
    }
  }

  &__picture {
  }

  &__image {
    height: 175px;
    object-fit: cover;
  }

  &__content {
    @include flex($align: flex-start);
    flex-direction: column;

    padding: 22px 18px;
  }

  &__title {
    min-height: 30px;

    font-size: $font-size-6;
    font-weight: $weight-medium;

    margin-bottom: 12px;
  }

  &__date {
    font-size: $font-size-7;
  }

  &__button {
    width: 100%;
    margin-top: 15px;
  }
}
