.callback {
  &__wrapper {
    @include flex($align: flex-start);
  }

  &__content {
    width: 48%;
  }

  &__image {
    margin-bottom: 36px;

    border-radius: 5px;
  }

  &__action {
    @include flex($justify: flex-start);

    padding: 10px 30px;

    border-radius: 5px;

    background-color: $block-primary;
    box-shadow: $shadow-primary;

    &__icon {
      width: 44px;
      margin-right: 25px;
    }

    &__title {
      font-size: $font-size-5;
    }

    &__link {
      margin-left: auto;
    }
  }

  &__form {
    @include flex($align: flex-start);
    flex-direction: column;
    width: 43%;
  }

  &__input {
    margin-bottom: 15px;
  }

  &__button {
    margin-top: 40px;
  }
}