#calculation {
  @include background("../img/calculation/bg-main.jpg");
}

.calculation {
  @include flex($align: stretch);

  padding: 110px 0;

  @include breakpoint($breakpoint-mobile-large) {
    flex-direction: column;

    padding: 30px 15px;

    text-align: center;
  }

  &__image {
    width: 50%;
    height: 400px;

    object-fit: cover;

    @include breakpoint($breakpoint-mobile-large) {
      width: 100%;
    }
  }

  &__content {
    @include flex($align: flex-start, $justify: center);
    flex-direction: column;
    width: 50%;

    padding-left: 40px;
    padding-right: 40px;

    background-color: $block-primary;

    @include breakpoint($breakpoint-mobile-large) {
      align-items: center;
      width: 100%;

      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__title {
    margin-bottom: 10px;

    @include breakpoint($breakpoint-mobile-large) {
      margin-top: 25px;

      font-size: $font-size-3;
    }
  }

  &__description {
    margin-bottom: 30px;

    font-size: $font-size-4;

    @include breakpoint($breakpoint-mobile-large) {
      margin-top: 15px;
    }
  }

  &__button {
    @include breakpoint($breakpoint-mobile-large) {
      margin-bottom: 15px;
    }
  }
}
