.callback {
  margin-bottom: 90px;

  &__wrapper {
    @include flex($align: flex-start);

    @include breakpoint($breakpoint-tablet) {
      flex-wrap: wrap;
    }
  }

  &__content {
    width: 48%;

    @include breakpoint($breakpoint-tablet) {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 30px;

    font-weight: $weight-bold;

    @include breakpoint($breakpoint-mobile-large) {
      font-size: $font-size-4;
    }
  }

  &__image {
    margin-bottom: 36px;

    border-radius: 5px;

    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  &__action {
    @include flex($justify: flex-start);

    padding: 10px 30px;

    border-radius: 5px;

    background-color: $block-primary;
    box-shadow: $shadow-primary;

    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    &__icon {
      width: 44px;
      margin-right: 25px;

      @include breakpoint($breakpoint-laptop) {
        width: 36px;
      }
    }

    &__title {
      font-size: $font-size-5;

      @include breakpoint($breakpoint-laptop) {
        font-size: $font-size-6;
      }
    }

    &__link {
      margin-left: auto;
    }
  }

  &__form {
    @include flex($align: flex-start);
    flex-direction: column;
    width: 43%;

    @include breakpoint($breakpoint-tablet) {
      width: 100%;
    }

    &--modal {
      width: 80%;

      margin: 0 auto;

      @include breakpoint($breakpoint-mobile-large) {
        width: 100%;
      }
    }
  }

  &__input {
    margin-bottom: 15px;
  }

  &__button {
    margin-top: 40px;
  }
}
