.catalog {
  &__row {
    position: relative;
  }
  
  &__title {
    margin-bottom: 30px;
    margin-top: 60px;
  }

  &__wrapper {
    @include flex($align: flex-start);

    &--wrap {
      flex-wrap: wrap;
    }
  }
}