.feedback {
  &__wrapper {
    @include flex();
    filter: drop-shadow($shadow-primary);

    @include breakpoint($breakpoint-tablet) {
      flex-direction: column;
    }
  }

  &__card {
    @include flex($align: flex-start);
    flex-direction: column;

    width: 32.5%;
    min-height: 215px;
    padding: 15px 45px;

    background-color: $block-primary;

    @include breakpoint($breakpoint-tablet) {
      width: 100%;

      padding: 15px;
      margin-bottom: 15px;
    }

    &--full {
    }
  }

  &__author {
    display: block;
    margin-bottom: 15px;

    font-size: $font-size-4;
    font-weight: $weight-medium;

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size-5;
    }
  }

  &__title {
    margin-bottom: 10px;
    text-transform: uppercase;

    font-size: $font-size-4;
    font-weight: $weight-medium;

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size-5;
    }

    &::before,
    &::after {
      content: '"';
    }
  }

  &__text {
    color: $text-secondary;
    overflow: hidden;

    &--trim {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }

  &__link {
    margin-top: auto;
  }
}
