// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

footer {
  margin-top: 100px;

  background-color: $background-secondary;
  padding: 35px 0;

  @include breakpoint($breakpoint-mobile-large) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.footer {
  &__row {
    @include flex($align: flex-start);

    @include breakpoint($breakpoint-mobile-large) {
      flex-direction: column-reverse;
    }
  }

  &__navigation {
  }

  &__contact {
    width: 30%;

    @include breakpoint($breakpoint-mobile-large) {
      width: unset;

      margin-left: auto;
      margin-right: auto;
    }
  }

  &__logo-wrapper {
    max-width: 150px;

    margin-left: 30px;
    margin-right: auto;
  }
}

.footer-navigation {
  &__row {
    width: 100%;

    @include breakpoint($breakpoint-mobile-large) {
      margin-top: 30px;
    }

    &--underline {
      &::after {
        content: "";
        display: block;

        width: 100%;
        height: 1px;

        margin: 20px 0;

        background-color: #c0c0c0;

        @include breakpoint($breakpoint-mobile-large) {
          display: none;
        }
      }
    }
  }

  &__wrapper {
    @include flex($align: flex-start, $justify: flex-start);

    @include breakpoint($breakpoint-mobile-large) {
      flex-wrap: wrap;
    }
  }

  &__section {
    &--margin {
      margin-right: 20px;
      min-width: 160px;

      @include breakpoint($breakpoint-mobile-large) {
        min-width: 0;
      }
    }

    &--hide {
      @include breakpoint($breakpoint-mobile-large) {
        display: none;
      }
    }
  }
}

.footer-section {
  &--margin {
    margin-left: 60px;
  }

  &--underline {
    @include breakpoint($breakpoint-mobile-large) {
      width: 100%;

      &::after {
        content: "";
        display: block;

        width: 100%;
        height: 1px;

        margin: 20px 0;

        background-color: #c0c0c0;
      }
    }
  }

  &__wrapper {
    @include flex($align: flex-start);

    font-size: $font-size-6;

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size-7;
    }

    @include breakpoint($breakpoint-mobile-large) {
      margin-bottom: 30px;
    }
  }

  &__social {
    margin-top: 8px;
  }

  &__item {
    margin-right: 30px;
    margin-top: 8px;
  }

  &__title {
    font-size: $font-size-5;
    font-weight: $weight-medium;

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size-6;
    }
  }
}

.footer-social {
  @include flex($justify: flex-start);

  &__item {
    margin-right: 15px;
    transition: opacity 0.15s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  &__icon {
    max-width: 32px;
  }
}

.footer-contact {
  margin-top: 30px;

  &__item {
    @include flex($justify: flex-start, $align: flex-start);
    margin-bottom: 18px;

    line-height: 22px;

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size-6;
    }
  }

  &__title {
    min-width: 75px;
  }

  &__content {

  }
}

.footer-list {
  &__wrapper {
    @include breakpoint($breakpoint-mobile-large) {
      display: flex;
    }

    &--flex {
      display: flex;
    }
  }

  &__column {
  }

  &__item {
    margin-top: 8px;
    margin-right: 30px;
  }

  &__link {
    font-size: $font-size-6;

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size-7;
    }
  }
}
