// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

.header {
  z-index: $z-index-header;
  box-shadow: $shadow-navbar;

  padding: {
    top: 30px;
  }

  &__container {
    @include flex();
    flex-wrap: wrap;

    &::after {
      content: '';
      width: 100%;
      height: 1px;

      margin-top: 20px;

      background-color: #d5d5d5;
    }
  }

  &__contact {
    @include flex();
  }

  &__phone {
    margin-right: 55px;
  }

  &__address {
    position: relative;
    z-index: 50;
    margin-right: 55px;
  }
}
