.nav {
  position: sticky;
  z-index: $z-index-header;

  top: 0;

  box-shadow: $shadow-navbar;

  &__list {
    @include flex($justify: center);
    background-color: $background-primary;

    padding: 25px 0;
  }

  &__item {
    margin: 0 25px;
  }

  &__link {
  }

  &__icon {
    margin-right: 5px;
  }
}
