.portfolio-block {
  &__wrapper {
    @include flex();
    flex-wrap: wrap;
  }

  &__item {
    width: 49%;
    margin-bottom: 30px;

    transition: opacity 0.15s ease;


    @include breakpoint($breakpoint-mobile-large) {
      width: 48%;
      margin-bottom: 15px;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
