.table {
  width: 100%;

  border-collapse: separate;
  border-spacing: 0 5px;

  @include breakpoint($breakpoint-mobile-large) {
    font-size: $font-size-6;
  }

  &__head {
    text-align: left;
  }

  &__row {
    background-color: $table__row;

    box-shadow: $shadow-primary;

    @include breakpoint($breakpoint-mobile-large) {
      .price {
        &::after {
          display: none;
        }
      }
    }

    &--head {
      background-color: $table__heading;
      color: $table__row;

      margin-bottom: 12px;
    }
  }

  &__column {
    padding: 8px 18px;

    @include breakpoint($breakpoint-mobile-large) {
      padding: 8px;
    }
  }
}
