/*! purgecss start ignore */

.catalog__slider {
  @include breakpoint($breakpoint-mobile-large) {
    padding: 0 20px;
  }

  &-left,
  &-right {
    top: 165px;

    @include breakpoint($breakpoint-mobile-large) {
      top: 270px;
    }
  }

  &-left {
    left: 0;

    @include breakpoint($breakpoint-laptop) {
      left: 10px;
    }

    &::after {
      content: url("../img/icons/controls/slider-left.svg");
    }
  }

  &-right {
    right: 0;

    @include breakpoint($breakpoint-laptop) {
      right: 10px;
    }

    &::after {
      content: url("../img/icons/controls/slider-right.svg");
    }
  }

  &--kitchen-left,
  &--kitchen-right {
  }

  &--kitchen-left {
  }

  &--kitchen-right {
  }
}

/*! purgecss end ignore */
