.product-article {
  @include flex($align: flex-start);

  @include even() {
    flex-direction: row-reverse;
  }

  @include breakpoint($breakpoint-mobile-large) {
    display: none;
  }

  &:not(:last-child) {
    margin-bottom: 70px;
  }

  &__picture {
    width: 40%;
  }

  &__image {
    border-radius: 5px;
  }

  &__content {
    width: 55%;
  }

  &__title {
    margin-bottom: 30px;

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size-3;
    }
  }

  &__paragraph {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
