.method-card {
  &__picture {
    margin-bottom: 10px;
  }

  &__image {
    border-radius: 5px;

    width: 360px;
    height: 130px;

    object-fit: cover;
  }

  &__title {
    font-weight: $weight-medium;
    font-size: $font-size-4;

    margin-bottom: 10px;
  }

  &__list {

  }

  &__item {
    margin-bottom: 5px;

    &::before {
      content: "- ";
    }
  }
}