.method {
  margin-bottom: 90px;

  &__wrapper {
    @include flex($align: flex-start);

    @include breakpoint($breakpoint-tablet) {
      flex-direction: column;
    }
  }

  &__card {
    width: 33%;


    @include breakpoint($breakpoint-tablet) {
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: 45px;

      @include breakpoint($breakpoint-tablet) {
        margin-right: 0;
      }
    }
  }
}
