.method-card {
  @include breakpoint($breakpoint-tablet) {
    margin-bottom: 30px;
  }

  &__picture {
    margin-bottom: 10px;

    @include breakpoint($breakpoint-mobile-large) {
      display: none;
    }
  }

  &__image {
    border-radius: 5px;

    height: 130px;

    object-fit: cover;
  }

  &__title {
    font-weight: $weight-medium;
    font-size: $font-size-4;

    margin-bottom: 10px;

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size-5;
    }
  }

  &__list {

  }

  &__item {
    margin-bottom: 5px;

    &::before {
      content: "- ";
    }
  }
}