.modal-product {
  &__wrapper {
    @include flex();
    flex-wrap: wrap;

    @include breakpoint($breakpoint-mobile-large) {
      max-height: 460px;
      overflow-y: auto;
    }
  }

  &__picture {
    width: 25%;
    height: 125px;

    transition: opacity 0.15s ease;

    @include breakpoint($breakpoint-mobile-large) {
      width: 50%;
      height: 150px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__image {
    height: 100%;
    padding: 5px;

    object-fit: cover;
  }
}
