.modal-product {
  &__wrapper {
    @include flex();
    flex-wrap: wrap;
  }

  &__picture {
    width: 25%;
    height: 125px;

    transition: opacity 0.15s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  &__image {
    height: 100%;
    padding: 5px;

    object-fit: cover;
  }
}
