.price-block {
  @include flex();

  @include breakpoint($breakpoint-tablet) {
    flex-direction: column;
  }

  &__content {
    width: 55%;

    @include breakpoint($breakpoint-tablet) {
      width: 100%;
    }
  }

  &__info {
    width: 40%;

    padding: 20px;

    background-color: $block-primary;
    box-shadow: $shadow-primary;

    @include breakpoint($breakpoint-tablet) {
      width: 100%;
    }
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}