.product-extra {
  &__wrapper {
    @include flex();

    @include breakpoint($breakpoint-tablet) {
      flex-direction: column;
    }
  }

  &__card {
    width: 33%;

    @include breakpoint($breakpoint-tablet) {
      width: 100%;
      margin-bottom: 40px;
    }

    &:not(:last-child) {
      margin-right: 45px;

      @include breakpoint($breakpoint-tablet) {
        margin-right: 0;
      }
    }
  }

  &__title {
    width: 80%;
    min-height: 45px;
    margin-bottom: 15px;

    font-size: $font-size-4;
    font-weight: $weight-medium;

    @include breakpoint($breakpoint-mobile-large) {
      width: 100%;

      font-size: $font-size-3;
    }
  }

  &__picture {
    margin-bottom: 15px;
  }

  &__image {
    border-radius: 5px;

    height: 240px;
    object-fit: cover;
  }

  &__button {
  }
}
