.solution {
  &__wrapper {
    @include flex($align: flex-start);

    @include breakpoint($breakpoint-mobile-large) {
      flex-direction: column;
    }
  }

  &__card {
    width: 33%;

    @include breakpoint($breakpoint-mobile-large) {
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: 45px;

      @include breakpoint($breakpoint-mobile-large) {
        margin-right: 0;
      }
    }
  }
}
