.solution-card {
  background-color: $block-primary;
  box-shadow: $shadow-primary;

  border-radius: 5px;

  @include breakpoint($breakpoint-mobile-large) {
    margin-bottom: 40px;
  }

  &__image {
    border-radius: 5px;

    height: 240px;
    object-fit: cover;
  }

  &__wrapper {
    padding: 0 25px;
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 25px;
  }

  &__button {
    margin-bottom: 30px;
  }
}
