.about {
  margin-top: 70px;
  filter: drop-shadow($shadow-primary);

  @include breakpoint($breakpoint-mobile-large) {
    margin-top: 0;
  }

  &__header {
    position: relative;
  }

  &__picture {
    border-radius: 5px;
    overflow: hidden;

    &--main {
      position: relative;

      height: 435px;
      margin-bottom: 180px;

      @include breakpoint($breakpoint-mobile-large) {
        margin-bottom: 0;
      }
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;

    @include breakpoint($breakpoint-mobile-large) {
      margin-bottom: 15px;
    }

    &--main {
      @include breakpoint($breakpoint-mobile-large) {
        height: 435px;
      }
    }
  }

  &__title {
    position: absolute;
    top: 30%;
    left: 100px;

    font-size: $font-size-1;
    color: $text-primary--inverted;
    font-weight: $weight-bold;

    @include breakpoint($breakpoint-mobile-large) {
      top: unset;
      bottom: 50px;
      left: 5px;

      font-size: $font-size-2 + 6;
    }
  }

  &__information {
    position: absolute;
    right: 0;
    bottom: -20%;
    left: 0;

    width: 100%;
    max-width: 620px;

    margin: 15px auto;
    padding: 30px 60px;

    background-color: $block-primary;

    @include breakpoint($breakpoint-mobile-large) {
      position: static;
      width: 95%;

      padding: 10px;

      border-radius: 5px;
    }
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__content {
  }

  &__row {
    @include flex();
    @include even() {
      flex-direction: row-reverse;

      @include breakpoint($breakpoint-laptop) {
        flex-direction: row;
      }

      @include breakpoint($breakpoint-mobile-large) {
        flex-direction: column-reverse;
      }
    }

    @include breakpoint($breakpoint-mobile-large) {
      flex-direction: column-reverse;
    }

    &:not(:last-child) {
      margin-bottom: 70px;
    }
  }

  &__description {
    width: 47%;

    @include breakpoint($breakpoint-mobile-large) {
      width: 100%;
    }
  }
}
