.press {
  margin-bottom: 90px;

  &__wrapper {
    @include flex($align: flex-start);

    @include breakpoint($breakpoint-tablet) {
      flex-direction: column;
    }
  }

  &__video-block {
    width: 48%;

    @include breakpoint($breakpoint-tablet) {
      width: 100%;
    }
  }

  &__video-title {
    display: block;
    margin-top: 5px;

    font-size: $font-size-5;
    font-weight: $weight-bold;

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 25px;
    }
  }

  &__video {
    width: 100%;
  }

  &__content {
    width: 48%;

    @include breakpoint($breakpoint-tablet) {
      width: 100%;
    }
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
